<div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">My Work</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
        </div>

        <div class="w3-half">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
        </div>
        <!-- End photo grid -->
    </div>
    <!-- End Portfolio Section -->
</div>