<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>About</h2>
    <hr class="w3-opacity">
    <p>I am a software developer with 4 years of experience developing small to large web and mobile apps, working in
        different roles such as Front-End Developer, Back-End Developer and Full-Stack Developer using a variety of
        different tech stacks, among them: JavaScript (Vue, React, React Native, Node, Apollo Server/Client, Express),
        TypeScript (Nest, Angular), PHP
        (Laravel), Java (Spring Boot, Prime Faces) and Python (Django). I do love software development and that's why
        I'm a proactive learner, always learning new tech and improving my current skills, always happy to work on new
        and complex projects.
    </p>
    <!-- <h3 class="w3-padding-16">My Skills</h3>
    <p class="w3-wide">Photography</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:95%">95%</div>
    </div>
    <p class="w3-wide">Web Design</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:85%">85%</div>
    </div>
    <p class="w3-wide">Photoshop</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:80%">80%</div>
    </div><br>

    <div class="w3-row w3-center w3-dark-grey w3-padding-16 w3-section">
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">14+</span><br>
            Partners
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">55+</span><br>
            Projects Done
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">89+</span><br>
            Happy Clients
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">150+</span><br>
            Meetings
        </div>
    </div> -->

    <!-- <button class="w3-button w3-light-grey w3-padding-large w3-section">
        <i class="fa fa-download"></i> Download Resume
    </button> -->

    <!-- Testimonials -->
    <!-- <h3 class="w3-padding-24">Endorsements</h3>
    <img src="" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Chandler Bing.</span> Web Designer.</p>
    <p>Edgar Martinez is just awesome. I am so happy to have met her!</p><br>

    <img src="" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>Edgar Martinez saved us from a web disaster.</p><br>

    <img src="" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than Edgar Martinez.</p><br> -->

    <!-- Grid for pricing tables -->
    <!-- <h3 class="w3-padding-16">My Price</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
            <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
                <li class="w3-padding-16">Web Design</li>
                <li class="w3-padding-16">Photography</li>
                <li class="w3-padding-16">5GB Storage</li>
                <li class="w3-padding-16">Mail Support</li>
                <li class="w3-padding-16">
                    <h2>$ 10</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
                </li>
            </ul>
        </div>

        <div class="w3-half">
            <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">Pro</li>
                <li class="w3-padding-16">Web Design</li>
                <li class="w3-padding-16">Photography</li>
                <li class="w3-padding-16">50GB Storage</li>
                <li class="w3-padding-16">Endless Support</li>
                <li class="w3-padding-16">
                    <h2>$ 25</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
                </li>
            </ul>
        </div>
</div> -->

    <!-- End About Section -->
</div>