<!-- Sidebar with image -->
<app-image-sidebar></app-image-sidebar>
<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<app-hamburguer-sidebar></app-hamburguer-sidebar>
<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">
  <!-- Menu icon to open sidebar -->
  <app-menu-icon></app-menu-icon>
  <!-- Header -->
  <app-header></app-header>
  <!-- Portfolio Section -->
  <!-- <app-portfolio></app-portfolio> -->
  <!-- About Section -->
  <app-about></app-about>
  <!-- Contact Section -->
  <app-contact></app-contact>
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- END PAGE CONTENT -->
</div>